<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <script type="module" src="../js/view.js"></script>
  <script type="module" src="../js/game.js"></script>
  <script type="module" defer src="../js/controller.js"></script>
</head>
<body>
  <h1>Ultimate Tic Tac Toe IA</h1>

  <p id="status" hidden="hidden">IA player is thinking...</p>
  <table class="game">
    <tr>
      <td><table id="board0"></table></td>
      <td><table id="board1"></table></td>
      <td><table id="board2"></table></td>
    </tr>
    <tr>
      <td><table id="board3"></table></td>
      <td><table id="board4"></table></td>
      <td><table id="board5"></table></td>
    </tr>
    <tr>
      <td><table id="board6"></table></td>
      <td><table id="board7"></table></td>
      <td><table id="board8"></table></td>
    </tr>
  </table>
  <div id="parameters">
    <fieldset>
      <legend>Parameters</legend>
      <div>
        <label for="displayValuation">Display IA valuations </label>
        <input type="checkbox" id="displayValuation" checked>
      </div>
      <div>
        <button id="report">Report IA bad valuation</button>
      </div>
    </fieldset>

  </div>
</body>
</html>
